@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;

}

header {
    background-color: #2874f0;
    height: 8vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;

}

.logo {
    height: 4vh;
    margin: 17px;
    position: relative;
    left: 141px;
}

.logo:hover {
    cursor: pointer;
}



.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 140px;

}

.search input {
    height: 4.5vh;
    width: 32vw;
    border-radius: 3px;
    padding: 0 2vw;
    font-family: 'Roboto', sans-serif;
}

/* input[ type="text"]::placeholder {
    text-align: center;

} */

.search img {
    height: 1.5vw;
    position: absolute;
    left: 522px;
}

.search img:hover {
    cursor: pointer;
}

button.btn {
    position: relative;
    left: 13vw;
    height: 4.3vh;
    width: 7vw;
    bottom: -2vh;
    background-color: white;
    border-radius: 3px;
    color: #2874f0;
    font-weight: 650;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

.extra {
    display: flex;
}

.seller {
    color: white;
    text-decoration: none;
    position: relative;
    left: 33vh;
    font-family: 'Roboto', sans-serif;
    bottom: -3vh;
}

.seller:hover {
    text-decoration: underline;
}

.more {
    color: white;
    text-decoration: none;
    position: relative;
    left: 39vh;
    font-family: 'Roboto', sans-serif;
    bottom: -3vh;

}

.cart {
    color: white;
    text-decoration: none;
    position: relative;
    left: 49vh;
    font-family: 'Roboto', sans-serif;
    bottom: -3vh;
}

.cart:hover {
    text-decoration: underline;
}


main {
    min-height: calc(185vh - 8vh - 16vh);
    /* height: 108vh; */
}

.box1 {
    height: 115px;
    background-color: #ffffff;
}

.img {
    display: flex;
}

.img1 {
    height: 9vh;
    margin: 1px auto 0px auto;
    padding: 11px;
}

.img1-name {
    display: flex;
    position: relative;
    bottom: 5px;
}

.name1 {
    height: 3vh;
    margin: 0px auto 0px auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

#grocery {
    position: relative;
    left: -12px;

}

#mobile {
    position: relative;
    left: -7px;
}

.leader {
    background-color: #f1f3f6;
    min-height: calc(100vh - 16vh - 115px - 8vh);
    /* border: 2px solid red; */
}

.slid {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.slid img {
    width: 1445px;
    /* padding: 0px 60px; */
}

@keyframes slid1 {
    0% {
        transform: translate(47vw);
    }

    100% {
        transform: translate(-50vw);
    }
}

@keyframes slid2 {
    0% {
        transform: translate(52vw);
    }

    100% {
        transform: translate(-47vw);
    }
}

/* @keyframes slid2-2 {
    0% {
        transform: translate(0vw);
    }

    100% {
        transform: translate(-97vw);
    }   
} */

/* @keyframes slid3 {
    0% {
        transform: translate(103vw);
    }

    100% {
        transform: translate(0vw);
    }
} */

.slid1 {
    transform: translate(47vw);
    animation: slid1 2s ease-in-out 3s;
}

.slid2 {
    transform: translate(52vw);
    animation: slid2 2s ease-in-out 3s;
}

/* .slid3 {
    transform: translate(103vw);
    animation: slid3 2s ease-in-out 3s;
} */

.item {
    height: 106vh;
}

.item1 {
    /* border: 2px solid red; */
    height: 50vh;
    width: 94vw;
    position: relative;
    left: 34px;
    background-color: #ffffff;
}

.item2 {
    /* border: 2px solid red; */
    height: 50vh;
    width: 94vw;
    position: relative;
    left: 0px;
    background-color: #ffffff;
    top: 26px;
}

.headofitem1 {
    height: 10vh;
    align-items: center;
    display: flex;
}

.headofitem1 h3 {
    margin: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}

#btn {
    position: relative;
    left: 1048px;
    padding: 10px;
    color: white;
    background-color: #2874f0;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

hr {
    color: #f1f3f6;
}

.item-img {

    display: flex;
    margin: 1px auto 0 auto;
    padding: 8px;
}

.item-img img {
    height: 122px;
    padding: 35px;

}

.item-img img:hover {
    height: 124px;
}

.item-name {
    display: flex;
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;
}

.item-name p {
    padding: 0px 92px;
    margin: 0px -27px;

}

#item-name1 {
    position: relative;
    left: 8px;
}

#item-name2 {
    position: relative;
    left: 41px;
}

#item-name3 {
    position: relative;
    left: 50px;
}

#item-name4 {
    position: relative;
    left: 45px;
}

#item-name5 {
    position: relative;
    left: 75px;
}

#item-name6 {
    position: relative;
    left: 111px;
}

.item-prize {
    display: flex;
    margin-top: 11px;
    margin-left: 92px;
}

.item-prize a {
    text-decoration: none;
}

#item-prize1 {
    position: relative;
    left: 1px;
}

#item-prize2 {
    position: relative;
    left: 156px;
}

#item-prize3 {
    position: relative;
    left: 300px;

}

#item-prize4 {
    position: relative;
    left: 437px;

}

#item-prize5 {
    position: relative;
    left: 578px;

}

#item-prize6 {
    position: relative;
    left: 723px;

}

/* #item-prize7{
    position: relative;
    
} */

.item-brand {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-top: 9px;
    color: #939393;
}

#item-brand1 {
    position: relative;
    left: 38px;
}

#item-brand2 {
    position: relative;
    left: 146px;
}

#item-brand3 {
    position: relative;
    left: 296px;
}

#item-brand4 {
    position: relative;
    left: 456px;
}

#item-brand5 {
    position: relative;
    left: 617px;
}

#item-brand6 {
    position: relative;
    left: 800px;
}


.item-img,
.item-name,
.item-prize,
.item-brand:hover {
    cursor: pointer;

}


footer {
    height: 16vh;
    background-color: #172337;
    color: #edeef0;
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    z-index: 1;
    bottom: 0; */
}